# ## General
# Logs and OS-specific files
logs
*.log
.DS_Store

# IDE and local environment files
.vscode/
.idea/

# ## Dependencies
# Ignore all node_modules folders in the project
node_modules

# ## Build Artifacts
# Ignore standard build output directories
dist
build
.next
out

# ## Monorepo
# Ignore Turborepo cache
.turbo

# ## Environment
# Ignore all environment files
# We recommend committing a .env.example file
.env
.env*.local

# ## Temporary
# Ignore TypeScript build info cache
*.tsbuildinfo
next-env.d.ts

prisma